/* You can add global styles to this file, and also import other style files */
@import "tailwindcss"; /*prefix(tw);*/
@import "primeicons/primeicons.css";
@plugin "daisyui"{
  themes: emerald --default, night --prefers-dark;
}

p-tag{
  gap: 0 !important;
}

.active {
  border-bottom: 2px solid var(--color-indigo-500) !important;
}

/*Select Button changes for pitcher plants*/
.p-togglebutton-checked > .p-togglebutton-content > .p-togglebutton-label {
  color: var(--color-indigo-300) !important;
}
