<header id="header" class="tw:max-h-12 tw:mx-auto tw:md:mx-4 tw:lg:mx-24 tw:drop-shadow-lg tw:bg-green-800 tw:rounded">
  <div class="tw:flex tw:flex-row tw:justify-between tw:items-center tw:p-2">
    <a href="#" class="tw:font-bold tw:items-center tw:text-green-100">Carnivorous Cultivars</a>
    <div class="tw:inline-flex tw:gap-4">
      <a href="/home" class="menu-item tw:ease-in-out">
        Home
      </a>
      <a href="/plants" class="menu-item">
        Plants
      </a>
      <a href="/about" class="menu-item">
        About
      </a>
    </div>
  </div>
</header>
