.menu-item {
  color: var(--color-green-100);
  font-weight: var(--font-weight-medium);
  padding: 4px;
  border-bottom: 1px solid transparent;

}
.menu-item:hover{
  border-bottom: 1px solid var(--color-indigo-400);
}
