<section class="card mt-4">
  <h5 class=" flex justify-center justify-self-center text-2xl font-semibold dark:text-accent">You may like one of these</h5>
  <p-carousel [value]="plants" [circular]="false" [numVisible]="3" [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
    <ng-template let-plant #item>
      <div class="border border-indigo-800 dark:border-indigo-300 rounded-md m-2 p-4 dark:text-secondary">
        <div class="mb-4">
          <div class="relative mx-auto">
            <img src="http://localhost:4200/favicon.ico" [alt]="plant.name" class="w-auto justify-self-center rounded-border" />
            <span class="pr-2">Stock:</span><p-tag [value]="plant.stock" [severity]="this.plantService.getSeverity(plant.stock)" class="absolute" />
          </div>
        </div>
        <div class="font-medium pt-2">{{ plant.name }}</div>
        <div class="flex justify-between items-center">
          <span class="font-semibold text-xl">{{ plant.plantType }}</span>
          <span>
            <button class="btn btn-info pi pi-heart"></button>
            <button class="btn btn-success pi pi-shopping-cart sm:ml-2"></button>
          </span>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</section>

