<h3 class="text-4xl button not-dark:text-black justify-self-center p-4">Pitcher Plants</h3>
<div class="data">
  <p-dataview #dv [value]="plants" [layout]="layout"
              [rows]="[layout==='grid' ? 8 : 10]"
              [paginator]="true"
  >
    <ng-template #header>
      <div class="flex flex-row justify-around">
        <div class="flex justify-center">
          <p-selectbutton [(ngModel)]="selectedPitcher"
                          [options]="pitchers"
                          [allowEmpty]="false"
                          (onChange)="reloadPitchers()"
          >
          </p-selectbutton>
        </div>
        <div>
          <p-selectbutton [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
            <ng-template #item let-item>
              <i class="pi " [ngClass]="{ 'pi-bars': item === 'list', 'pi-table': item === 'grid' }"></i>
            </ng-template>
          </p-selectbutton>
        </div>
      </div>
    </ng-template>
    <ng-template #list let-items>
      @for (item of items; track $index; let first = $first){
        <div
          class="flex flex-col sm:flex-row sm:items-center p-6 gap-4"
          [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }"
        >
          <div class="md:w-40 relative">
            <img
              class="block xl:block mx-auto rounded w-full"
              [src]="'http://localhost:4200/favicon.ico'"
              [alt]="item.name"
            />
          </div>
          <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
            <div class="flex flex-row md:flex-col justify-between items-start gap-2">
              <div>
                <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{ item.plantType }}</span>
                <div class="text-3xl font-medium mt-2">{{ item.name }}</div>
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-8">
            <div>
              <span class="text-xl font-semibold">${{ item.price}}</span>
              <p-tag
                [value]="item.stock"
                [severity]="this.plantService.getSeverity(item.stock)"
                class="absolute right-6 dark:!bg-surface-900">
              </p-tag>
            </div>

            <div class="flex flex-row-reverse md:flex-row gap-2">
              <button pButton icon="pi pi-heart" [outlined]="true" severity="help"></button>
              <button
                pButton
                icon="pi pi-shopping-cart"
                label="Buy Now"
                [disabled]="item.stock === 0"
                class="flex-auto md:flex-initial whitespace-nowrap"
              ></button>
            </div>
          </div>
        </div>
      }
    </ng-template>
    <ng-template #grid let-items>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
        @for (product of items; track $index){
          <app-card [plant]="product" />
        }
      </div>
    </ng-template>
  </p-dataview>
</div>
